@import "./index";

@font-face {
  font-family: "Nunito";
  src: url("./style/Fonts/Nunito/Nunito-Bold.ttf");
}

@font-face {
  font-family: "Quicksand";
  src: url("./style/Fonts/Quicksand/Quicksand-Regular.ttf");
}

@font-face {
  font-family: "Bevan";
  src: url("./style/Fonts/Bevan-Regular.ttf");
}

@font-face {
  font-family: "Kendrick";
  src: url("./style/Fonts/HansKendrick-Regular.otf");
}
/*
 * APP 
 */
.app {
  display: flex;
  background: linear-gradient(rgba($wh, 0.9), rgba($wh, 0.5)),
    url(./pictures/mountain.jpg);
  background-size: cover;
  background-repeat: no-repeat;
}

// * {
//   border: 1px solid red;
// }

/*
* FONTS
*/
* {
  font-family: "kendrick", sans-serif;
  font-size: 1.1rem;
}

h1 {
  animation: 2s appear;
}

@keyframes appear {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

h1 {
  font-family: "Bevan", sans-serif;
}

.hero h1,
.title {
  font-size: calc(2rem + 1vw);
}

.title {
  margin-top: 12vh;
}

h1 span {
  font-family: Nunito, sans-serif;
  color: $sec-color;
  font-size: 3rem;
  font-weight: 700;
  line-height: 0;
  vertical-align: sub;
}

/*
 * NAV
 */

.nav__container {
  position: fixed;
  z-index: 9000;
  width: 100vw;
  top: 0;
  left: 0;
  padding: 3vh 5.4vw calc(1vh + 2px) 3.85vw;
  overflow-x: auto;
}

.nav__btn {
  margin: 0 0.5rem;
  padding: 0.5rem 0.7rem;
  font-size: calc(0.8rem + 0.2vw);
  font-weight: 600;
  color: rgba($wh, 0.5);
  border: 2px solid rgba($wh, 0.5);
  transition: 0.8s;
  &:hover {
    color: $wh;
    text-decoration: none;
  }
}

.separation,
.separation-2 {
  background: $sec-color;
}

.separation {
  height: 8px;
  width: 7rem;
  margin-bottom: 5vh;
  animation: 0.5s grow;
}

.separation-2 {
  height: 5px;
  width: 5rem;
}

@keyframes grow {
  from {
    width: 1rem;
  }
  to {
    width: 7.5rem;
  }
}

.card__container,
.education__container,
.skills-list__container,
.portfolio__container,
.contact__container {
  height: 100vh;
  overflow: auto;
}

.job__container,
.skills-list__modal,
.education__modal,
.portfolio__content,
.contact__modal {
  width: 95%;
}

/*
* MEDIA QUERIES
*/
@media (max-width: 370px) {
  .nav__container {
    display: none;
  }

  .hero__arrow {
    display: none;
  }
}

@media (max-width: 990px) {
  .app {
    flex-direction: column;
  }

  .nav__container {
    background: rgba($bl, 0.9);
    padding: 3vh 0;
    .nav__btn {
      margin: 0.35rem;
    }
  }

  .job__container,
  .skills-list__modal,
  .education__modal,
  .portfolio__content,
  .contact__modal {
    min-width: 100%;
  }
}

@media (min-width: 691px) {
  .nav {
    position: absolute;
    left: calc(20% - 162px);
    text-align: left;
  }

  .hero__arrow {
    display: none;
  }
}
